<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <title>Login | CodingTube</title>
</head>
<body>
  <p class="home"><a href="../index.html">Home</a></p>
  <h2>Ingresa:</h2>
  <form class="form" id="login-form">
    <input type="email" placeholder="Correo" value="david@gmail.com">
    <input type="password" value="123456" placeholder="contraseña">
    <input type="submit" value="Ingresar">
  </form>
  <p id="error" class="error"></p>
  <button id="googleBtnLogin" class="googleBtn">Ingresa por google</button>
  <p class="user-msg">Regístrate <a href="./register.html">aquí</a></p>
  <script src="../src/login.js" type="module"></script>
</body>
</html>