<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <title>Register | CodingTube</title>
</head>
<body>
  <p class="home"><a href="../index.html">Home</a></p>
  <h2>Regístrate:</h2>
  <form class="form" id="register-form">
    <input type="text" placeholder="Nombre" value="David" required>
    <input type="email" placeholder="Correo" value="david@gmail.com">
    <input type="password" value="123456" placeholder="contraseña">
    <input type="password" value="123456" placeholder="contraseña">
    <input type="submit" value="Registrarse">
  </form>
  <p id="error" class="error"></p>
  <p class="user-msg">Ingresa <a href="./login.html">aquí</a></p>
  <script src="../src/register.js" type="module"></script>
</body>
</html>